<h2><%= Comment.model_name.human %></h2>
<p>
  <% comments.each do |comment| %>
    <tr>
      <td><%= comment.content %></td>
      <% if comment.user.name.empty? %>
        <td><%= comment.user.email %></td>
      <% else %>
        <td><%= comment.user.name %></td>
      <% end %>
      <td><%= comment.created_at.strftime(format = '%F %R') %></td>
      <% if current_user.id == comment.user.id %>
        <td><%= link_to t('views.common.destroy'), [commentable, comment], method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
      <% end %>
      <br>
    </tr>
  <% end %>
</p>

<%= form_with(model: [commentable, Comment.new]) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
