<p id="notice"><%= notice %></p>

<h1><%= t('Books') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Book.human_attribute_name('Title') %></th>
      <th><%= Book.human_attribute_name('Memo') %></th>
      <th><%= Book.human_attribute_name('Author') %></th>
      <th><%= Book.human_attribute_name('Picture') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.memo %></td>
        <td><%= book.author %></td>
        <td><%= book.picture %></td>
        <td><%= link_to t('Show'), book %></td>
        <td><%= link_to t('Edit'), edit_book_path(book) %></td>
        <td><%= link_to t('Destroy'), book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Book'), new_book_path %>
