<p id="notice"><%= notice %></p>

<p>
  <strong><%= Book.human_attribute_name('Title') %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name('Memo') %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name('Author') %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name('Picture') %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('Edit'), edit_book_path(@book) %> |
<%= link_to t('Back'), books_path %>
