<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= @report.created_at.strftime(format = '%F') %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:author) %>:</strong>
  <%= @report.user.name %>
</p>

<%= render partial: 'shared/comment', locals: { commentable: @commentable, comments: @comments } %>

<% if current_user.id == @commentable.user_id %>
  <%= link_to t('views.common.edit'), edit_report_path(@commentable) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
